@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.cont-reg{
    opacity: .95;
    display: flex;
    justify-content:start;
    align-items:center;
    margin-top: 5%;
    /* margin-bottom: %; */
    margin-left: 3%;
    margin-right: 3%;
}

.span-reg{
    font-family: 'Dancing Script', cursive;
}


.outer-cont-reg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgb(255, 0, 0); */
    background-image: url('https://static.wixstatic.com/media/68b9a3_c7d8c6cc596c4a1e9bef9a8459875885~mv2.jpg/v1/fill/w_864,h_576,al_c,q_85,usm_0.66_1.00_0.01/68b9a3_c7d8c6cc596c4a1e9bef9a8459875885~mv2.jpg');
    background-size: cover;
    overflow-x: hidden;
}

.card-reg{
    background-color: rgba(240, 205, 154, 0.6);
}